@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Face Declaration */
@font-face {
  font-family: 'custom';
  src: local('Fontspring-DEMO-BOLD-ITALIC.otf'),
       url('/public/fonts/Fontspring-DEMO-BOLD-ITALIC.otf') format('opentype');
  font-weight: normal;
  
  font-style: normal;
}

/* Custom Scrollbar Styles */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hides the scrollbar for Webkit-based browsers */
}
.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

/* Custom Background Color */
body {
  @apply bg-[rgba(252,250,241,1)]; /* Tailwind utility for background color */
  font-family: 'custom', sans-serif; /* Use the custom font */
}
html {
  scroll-behavior: smooth;
}

/* Add this to your global styles or in the component's style /* Target the flag container of PhoneInput */
.react-tel-input .flag-dropdown {
  margin-right: 12px; /* Increase the gap between flag and country code */
}
/* Hide country code */
.react-tel-input .form-control {
  padding-left: 0 !important; /* Remove left padding for the input */
}

.react-tel-input .phone-input .tel-input {
  visibility: hidden !important; /* Hide the country code */
}

.react-tel-input .flag-dropdown {
  visibility: visible !important; /* Ensure flag is visible */
}
